body{
    background-color:cornflowerblue;
    color: antiquewhite; 
    background-image: url("https://jlaw21.github.io/Resources/mario-pipe.png");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center center; 
    background-attachment: fixed; 
    font-size: 100%; 
    margin: 0; 
    padding: 0; 
}

h1{
    text-align: center; 
    text-shadow: 5px 5px 2px black;  
}
header{
    background-color: rgba(255, 57,57);
    background-image: url
    ("https://jlaw21.github.io/Resources/mario-pipe.png");
    font-family: 'Press Start 2P', cursive; 
    padding: 0 20px 0 20px; 
    border: 3px double black; 
    margin: 5px; 
}

section{
    background-color:turquoise; 
}

section header{
    color: #00ce00; 
} 

aside{
    background-color: teal; 
} 

footer{
    background-color: rgba(255, 57,57); 
} 

nav{
    background-color: #007b4a; 
    background-image: url("https://jlaw21.github.io/Resources/mario-pipe.png");
    background-size: contain; 
    border: 10px solid transparent; 
    border-image: url("https://jlaw21.github.io/Resources/mario-pipe.png") 30% round;
    border: 10px dotted red; 
    border-radius: 5%; 
    margin: auto; 
}
a{
    text-decoration: none;  
}

h3{
    color: #00deff; 
    font-size: 1.4em; 
    font-style: oblique; 
}
p{
    line-height: 1.7em; 
    text-shadow: 2px 2px 3px black; 
    text-transform: capitalize; 
    letter-spacing: 0.2em;  
}

p, li{
    font: small-caps 2em 'VT323', monospace; 
}